transformers==4.1.1
numpy>=1.19.5
torch==1.7.1
pytorch-crf==0.7.2
seqeval==1.2.2
tqdm>=4.55.1
# torchtools==0.2.5

# Custom pytorch tools repo
git+https://github.com/pabloppp/pytorch-tools/@0.2.7#egg=torchtools